@import url('https://fonts.googleapis.com/css?family=Lato')
$accentColor = #ffc107
$textColor = #b5bdcb
$borderColor = #222633
$codeBgColor = #222631
$arrowBgColor = #8bc34a

:root
  --bg #272d3c

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #212631;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00bcd4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #73efff;
}

body
  background: var(--bg)
  font-family: 'Lato', sans-serif !important

.sidebar
  background var(--bg)!important

.navbar
  background var(--bg)!important
h1
  color #fff
  letter-spacing 5px
h2
  color $accentColor
h4
  color  #f95723

h2,h4
  font-weight: 100


table
  border-color #000 !important
  width 100%

tr
  border-top: 1px solid #000 !important

tr:nth-child(2n)
  background-color: $codeBgColor !important
th
  font-weight: 100

th,td
 border 1px solid $borderColor !important

thead
  background $borderColor
  color #ff5722

p
  margin 0

$contentWidth = 100%

.return
  color #80deea

.type
  color #ff5722

.search-box
  input
    background-color #212631 !important
  .suggestions
    background-color #212631
  .suggestion
      &.focused
        background-color #30374a
